.header {
  background-color: green;
  border: 3px solid white;
}
.header__text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  font-size: 60px;
}
@media only screen and (max-width: 400px) {
  .header__text {
    font-size: 12px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .header__text {
    font-size: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .header__text {
    font-size: 35px;
  }
}
@media only screen and (min-width: 901px) {
  .header__text {
    font-size: 60px;
  }
}

.search-form {
  background-color: rgb(57, 57, 57);
  border: 3px solid rgb(255, 255, 255);
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-form__input {
  width: 100%;
}
.search-form__input:hover {
  background-color: rgba(120, 253, 120, 0.859);
}
.search-form__button:hover {
  background-color: green;
  color: white;
  border-color: white;
}
.search-form__button:active {
  background-color: black;
  color: green;
  border-color: white;
}
@media only screen and (max-width: 400px) {
  .search-form__input {
    font-size: 15px;
  }
  .search-form__button {
    font-size: 30px;
    width: 140px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .search-form__input {
    font-size: 20px;
  }
  .search-form__button {
    font-size: 20px;
    width: 160px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .search-form__input {
    font-size: 25px;
  }
  .search-form__button {
    font-size: 25px;
    width: 180px;
  }
}
@media only screen and (min-width: 901px) {
  .search-form__input {
    font-size: 30px;
  }
  .search-form__button {
    font-size: 30px;
    width: 200px;
  }
}

.books-grid {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  flex-wrap: wrap;
}
.books-grid__info {
  width: 400px;
  height: 300px;
  background-color: white;
  border: 2px solid black;
  margin: 10px;
}
.books-grid__image {
  width: 120px;
  height: 160px;
}
.books-grid__desc {
  text-overflow: ellipsis;
}

body {
  background-color: lightblue;
}
